<!--<div class="navbar-header">
  <a class="navbar-collapsed-brand" href="<%= home_path %>">
    <img src="<%= image_path('home/LOGO2.png') %>" width="130px">
  </a>
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<nav class="navbar-collapse collapse sidebar-navbar-collapse navbar-fixed-top">
  <div class="container" >
    <a class="navbar-brand" href="<%= home_path %>">
      <img src="<%= image_path('home/LOGO2.png') %>">
    </a>
    <ul class="nav nav-justified">
      <li><%= link_to 'Услуги', service_path  %></li>
      <li><%= link_to 'Портфолио', portfolio_path  %></li>
      <li><%= link_to 'Обратная связь', contact_path  %></li>
    </ul>
  </div>
</nav>-->

<div class="cd-secondary-nav">
  <a href="#0" class="cd-secondary-nav-trigger">Menu<span></span></a> <!-- button visible on small devices -->
  <nav>
    <ul>
      <li>
        <a href="<%= service_url %>">
          <b>Услуги</b>
        </a>
      </li>
      <li>
        <a href="<%= portfolio_url %>">
          <b>Портфолио</b>
        </a>
      </li>
      <li>
        <a href="<%= contact_url %>">
          <b>Обратная связь</b>
        </a>
      </li>
    </ul>
  </nav>
</div>

