<!DOCTYPE html>
<html>
<head>
  <title>Webultim</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= render 'layouts/nav' %>

    <%= yield %>

    <footer class="section-white">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <p class="text-left text-green">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
        </div>
      </div>
    </footer>

</body>
</html>
